.DS_Store
*.iml
.idea/
*.apk
*.aab

# Flutter / mobile
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/**/GeneratedPluginRegistrant.java

# Android local
**/local.properties
**/.gradle/
