openapi: 3.1.0
info:
  title: AdventureX Cloud Media Service
  summary: User-owned audio ingestion and deterministic NFC media playback.
  description: Authenticate users and fixed devices, normalize uploaded audio, render the Sound Visualization,
    publish immutable H.264/MP3 media, and serve NFC playback.
  version: 2.0.0
  x-service-id: advx26-cloud-media
servers:
  - url: https://soundpola.babelbeast.com
    description: Configured public Cloud Media Service endpoint.
paths:
  /c/{content_id}:
    get:
      tags:
        - devices
      summary: Resolve NFC content for Trigger
      description: Return the complete READY Compact Content document for the fixed Trigger board.
      operationId: resolveTriggerContent
      security:
        - TriggerToken: []
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            title: Content Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompactContent'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The authenticated role is not allowed to use this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: A required service dependency or immutable object is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/contents/{content_id}/assets/{asset_kind}:
    get:
      tags:
        - devices
      summary: Download immutable playback asset
      description: Playback-only GET response with Range and If-Range support.
      operationId: getPlaybackAsset
      security:
        - PlaybackToken: []
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            title: Content Id
        - name: asset_kind
          in: path
          required: true
          schema:
            type: string
            enum:
              - video
              - audio
              - audio-index
          description: 'Immutable asset type: H.264 MP4, normalized MP3, or AIX1 index.'
      responses:
        '200':
          description: Complete immutable media object.
          headers:
            Accept-Ranges:
              description: Indicates byte range support.
              schema:
                type: string
                const: bytes
            Content-Length:
              description: Exact number of bytes in this response body.
              schema:
                type: integer
                minimum: 0
            ETag:
              description: Strong SHA-256-derived entity tag.
              schema:
                type: string
            Cache-Control:
              description: Private immutable cache policy for READY media.
              schema:
                type: string
                const: private, max-age=31536000, immutable
            Vary:
              description: The representation varies by Authorization.
              schema:
                type: string
                const: Authorization
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '206':
          description: One satisfiable byte range.
          headers:
            Accept-Ranges:
              description: Indicates byte range support.
              schema:
                type: string
                const: bytes
            Content-Length:
              description: Exact number of bytes in this response body.
              schema:
                type: integer
                minimum: 0
            ETag:
              description: Strong SHA-256-derived entity tag.
              schema:
                type: string
            Cache-Control:
              description: Private immutable cache policy for READY media.
              schema:
                type: string
                const: private, max-age=31536000, immutable
            Vary:
              description: The representation varies by Authorization.
              schema:
                type: string
                const: Authorization
            Content-Range:
              description: Returned inclusive byte range and total length.
              schema:
                type: string
                example: bytes 0-1023/4096
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '416':
          description: The requested byte range is invalid or outside the object.
          headers:
            Accept-Ranges:
              description: Indicates byte range support.
              schema:
                type: string
                const: bytes
            Content-Length:
              description: Exact number of bytes in this response body.
              schema:
                type: integer
                minimum: 0
            ETag:
              description: Strong SHA-256-derived entity tag.
              schema:
                type: string
            Cache-Control:
              description: Private immutable cache policy for READY media.
              schema:
                type: string
                const: private, max-age=31536000, immutable
            Vary:
              description: The representation varies by Authorization.
              schema:
                type: string
                const: Authorization
            Content-Range:
              description: Unsatisfied range with the current object length.
              schema:
                type: string
                example: bytes */4096
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The authenticated role is not allowed to use this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: A required service dependency or immutable object is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    head:
      tags:
        - devices
      summary: Inspect immutable playback asset
      description: Playback-only HEAD response with Range and If-Range support.
      operationId: headPlaybackAsset
      security:
        - PlaybackToken: []
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            title: Content Id
        - name: asset_kind
          in: path
          required: true
          schema:
            type: string
            enum:
              - video
              - audio
              - audio-index
          description: 'Immutable asset type: H.264 MP4, normalized MP3, or AIX1 index.'
      responses:
        '200':
          description: Complete immutable media object.
          headers:
            Accept-Ranges:
              description: Indicates byte range support.
              schema:
                type: string
                const: bytes
            Content-Length:
              description: Exact number of bytes in this response body.
              schema:
                type: integer
                minimum: 0
            ETag:
              description: Strong SHA-256-derived entity tag.
              schema:
                type: string
            Cache-Control:
              description: Private immutable cache policy for READY media.
              schema:
                type: string
                const: private, max-age=31536000, immutable
            Vary:
              description: The representation varies by Authorization.
              schema:
                type: string
                const: Authorization
        '206':
          description: One satisfiable byte range.
          headers:
            Accept-Ranges:
              description: Indicates byte range support.
              schema:
                type: string
                const: bytes
            Content-Length:
              description: Exact number of bytes in this response body.
              schema:
                type: integer
                minimum: 0
            ETag:
              description: Strong SHA-256-derived entity tag.
              schema:
                type: string
            Cache-Control:
              description: Private immutable cache policy for READY media.
              schema:
                type: string
                const: private, max-age=31536000, immutable
            Vary:
              description: The representation varies by Authorization.
              schema:
                type: string
                const: Authorization
            Content-Range:
              description: Returned inclusive byte range and total length.
              schema:
                type: string
                example: bytes 0-1023/4096
        '416':
          description: The requested byte range is invalid or outside the object.
          headers:
            Accept-Ranges:
              description: Indicates byte range support.
              schema:
                type: string
                const: bytes
            Content-Length:
              description: Exact number of bytes in this response body.
              schema:
                type: integer
                minimum: 0
            ETag:
              description: Strong SHA-256-derived entity tag.
              schema:
                type: string
            Cache-Control:
              description: Private immutable cache policy for READY media.
              schema:
                type: string
                const: private, max-age=31536000, immutable
            Vary:
              description: The representation varies by Authorization.
              schema:
                type: string
                const: Authorization
            Content-Range:
              description: Unsatisfied range with the current object length.
              schema:
                type: string
                example: bytes */4096
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The authenticated role is not allowed to use this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: A required service dependency or immutable object is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/health:
    get:
      tags:
        - operations
      summary: Process liveness
      description: Returns 200 when the HTTP process can answer requests; it does not prove dependencies
        are ready.
      operationId: getHealth
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/ready:
    get:
      tags:
        - operations
      summary: Deployment readiness
      description: Checks SQLite, both Object Store roots, FFmpeg, FFprobe, fixed device Tokens, and—when
        enabled—the Node/Puppeteer renderer and worker task.
      operationId: getReadiness
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: A required service dependency or immutable object is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/users:
    post:
      tags:
        - users
      summary: Register with email and password
      description: Creates a user identity from an email and password. The password is stored only as
        a PBKDF2 hash. A wallet is auto-assigned; its private key is returned once and stored server-side
        only if store_private_key is true.
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRegisterRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRegistered'
        '409':
          description: The requested content state transition is not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/sessions:
    post:
      tags:
        - users
      summary: Log in with email and password
      description: Verifies the email and password and issues a fresh opaque User Token returned exactly
        once.
      operationId: loginUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailLoginRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenIssued'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/auth/wallet/challenge:
    post:
      tags:
        - users
      summary: Request a wallet sign-in challenge
      description: Returns a nonce-bearing message the Injective wallet must sign via personal_sign.
      operationId: requestWalletChallenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletChallengeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletChallengeResponse'
        '400':
          description: The request body or parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/auth/wallet/verify:
    post:
      tags:
        - users
      summary: Verify a wallet signature and issue a token
      description: Recovers the signer from the EIP-191 signature and issues an opaque User Token bound
        to the wallet account.
      operationId: verifyWalletSignature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletVerifyRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTokenIssued'
        '400':
          description: The request body or parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/users/me:
    get:
      tags:
        - users
      summary: Inspect the authenticated account
      operationId: getCurrentUser
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - UserToken: []
  /api/v1/contents:
    get:
      tags:
        - contents
      summary: List owned content
      operationId: listOwnedContents
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - UserToken: []
    post:
      tags:
        - contents
      summary: Upload source audio
      description: Stores the exact original audio and returns a content_id. Follow with
        POST /api/v1/contents/{content_id}/video to attach the on-device visualization MP4.
      operationId: uploadContent
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_uploadContent'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentCreated'
        '400':
          description: The request body or parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: The uploaded audio exceeds the configured byte limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - UserToken: []
  /api/v1/contents/{content_id}/video:
    post:
      tags:
        - contents
      summary: Upload on-device visualization video
      description: >
        Attach an H.264 MP4 visualization for an existing content. Typical App
        flow: bake Indexed-MJPEG locally, encode to MP4, then POST here. Success
        usually returns state READY; public preview becomes available at
        /preview/{content_id}/video and /preview/{content_id}/audio.
      operationId: uploadContentVideo
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9a-f]{32}$
            title: Content Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_uploadContentVideo'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentVideoUploaded'
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentVideoUploaded'
        '400':
          description: The request body or parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: The uploaded video exceeds the configured byte limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - UserToken: []
  /api/v1/contents/page:
    get:
      tags:
        - contents
      summary: List owned content by page
      operationId: listOwnedContentsByPage
      security:
        - UserToken: []
      parameters:
        - name: page_number
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            description: 1-based page index
            title: Page Number
          description: 1-based page index
        - name: units_per_page
          in: query
          required: true
          schema:
            type: integer
            maximum: 200
            minimum: 1
            description: Items per page
            title: Units Per Page
          description: Items per page
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPage'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/contents/{content_id}:
    get:
      tags:
        - contents
      summary: Inspect owned content
      operationId: getOwnedContent
      security:
        - UserToken: []
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            title: Content Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSummary'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - contents
      summary: Revoke owned content
      description: Immediately revokes device access; generated objects are cleaned later.
      operationId: deleteOwnedContent
      security:
        - UserToken: []
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            title: Content Id
      responses:
        '204':
          description: Successful Response
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/contents/{content_id}/retry:
    post:
      tags:
        - contents
      summary: Retry eligible failed content
      operationId: retryOwnedContent
      security:
        - UserToken: []
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            title: Content Id
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSummary'
        '401':
          description: A required Bearer Token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The content or media object does not exist or is not visible to this role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The requested content state transition is not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Body_uploadContent:
      properties:
        audio:
          type: string
          contentMediaType: application/octet-stream
          title: Audio
          description: One source audio file, maximum 50 MiB
      type: object
      required:
        - audio
      title: Body_uploadContent
    Body_uploadContentVideo:
      properties:
        video:
          type: string
          contentMediaType: video/mp4
          title: Video
          description: On-device H.264 MP4 visualization (e.g. visualization.mp4)
      type: object
      required:
        - video
      title: Body_uploadContentVideo
    ContentVideoUploaded:
      properties:
        content_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: Content Id
        state:
          type: string
          const: READY
          title: State
        video_sha256:
          anyOf:
            - type: string
              pattern: ^[0-9a-f]{64}$
            - type: 'null'
          title: Video Sha256
      type: object
      required:
        - content_id
        - state
      title: ContentVideoUploaded
    CompactContent:
      properties:
        schema_version:
          type: integer
          const: 1
          title: Schema Version
        content_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: Content Id
        state:
          type: string
          const: READY
          title: State
        duration_ms:
          type: integer
          maximum: 30000.0
          minimum: 1.0
          title: Duration Ms
        trigger:
          $ref: '#/components/schemas/TriggerPresentation'
        playback:
          $ref: '#/components/schemas/PlaybackDescriptor'
      type: object
      required:
        - schema_version
        - content_id
        - state
        - duration_ms
        - trigger
        - playback
      title: CompactContent
    ContentCreated:
      properties:
        content_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: Content Id
        state:
          type: string
          const: UPLOADED
          title: State
        display_label:
          type: string
          title: Display Label
        status_url:
          type: string
          title: Status Url
      type: object
      required:
        - content_id
        - state
        - display_label
        - status_url
      title: ContentCreated
    ContentList:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ContentSummary'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0.0
          title: Total
      type: object
      required:
        - items
        - total
      title: ContentList
    ContentPage:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ContentSummary'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0.0
          title: Total
        page_number:
          type: integer
          minimum: 1.0
          title: Page Number
        units_per_page:
          type: integer
          minimum: 1.0
          title: Units Per Page
        total_pages:
          type: integer
          minimum: 0.0
          title: Total Pages
      type: object
      required:
        - items
        - total
        - page_number
        - units_per_page
        - total_pages
      title: ContentPage
    ContentSource:
      properties:
        filename:
          type: string
          title: Filename
        content_type:
          type: string
          title: Content Type
        byte_length:
          type: integer
          minimum: 1.0
          title: Byte Length
        sha256:
          type: string
          pattern: ^[0-9a-f]{64}$
          title: Sha256
      type: object
      required:
        - filename
        - content_type
        - byte_length
        - sha256
      title: ContentSource
    ContentSummary:
      properties:
        content_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: Content Id
        state:
          type: string
          enum:
            - UPLOADED
            - PROCESSING
            - READY
            - FAILED
            - DELETED
          title: State
        processing_stage:
          anyOf:
            - type: string
            - type: 'null'
          title: Processing Stage
        error_code:
          anyOf:
            - type: string
            - type: 'null'
          title: Error Code
        error_message:
          anyOf:
            - type: string
            - type: 'null'
          title: Error Message
        display_label:
          type: string
          title: Display Label
        duration_ms:
          anyOf:
            - type: integer
              maximum: 30000.0
              minimum: 1.0
            - type: 'null'
          title: Duration Ms
        created_at:
          type: string
          title: Created At
        updated_at:
          type: string
          title: Updated At
        ready_at:
          anyOf:
            - type: string
            - type: 'null'
          title: Ready At
        deleted_at:
          anyOf:
            - type: string
            - type: 'null'
          title: Deleted At
        status_url:
          type: string
          title: Status Url
        nfc_url:
          anyOf:
            - type: string
            - type: 'null'
          title: Nfc Url
        source:
          $ref: '#/components/schemas/ContentSource'
      type: object
      required:
        - content_id
        - state
        - display_label
        - created_at
        - updated_at
        - status_url
        - source
      title: ContentSummary
    EmailLoginRequest:
      properties:
        email:
          type: string
          maxLength: 254
          pattern: ^[^@\s]+@[^@\s]+\.[^@\s]+$
          title: Email
        password:
          type: string
          maxLength: 128
          minLength: 8
          title: Password
      type: object
      required:
        - email
        - password
      title: EmailLoginRequest
    EmailRegisterRequest:
      properties:
        email:
          type: string
          maxLength: 254
          pattern: ^[^@\s]+@[^@\s]+\.[^@\s]+$
          title: Email
          examples:
            - user@example.com
        password:
          type: string
          maxLength: 128
          minLength: 8
          title: Password
        store_private_key:
          type: boolean
          title: Store Private Key
          description: If true, the backend stores the generated wallet private key. If false, the private
            key is returned only once and never stored.
          default: false
      type: object
      required:
        - email
        - password
      title: EmailRegisterRequest
    EmailRegistered:
      properties:
        user_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: User Id
        email:
          type: string
          pattern: ^[^@\s]+@[^@\s]+\.[^@\s]+$
          title: Email
        wallet_address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
          title: Wallet Address
          description: Wallet address auto-assigned at registration. Wallet login is equivalent to email
            login.
        private_key:
          type: string
          pattern: ^0x[0-9a-fA-F]{64}$
          title: Private Key
          description: Wallet private key. Returned once at registration. Stored server-side only if store_private_key
            was true.
        private_key_stored:
          type: boolean
          title: Private Key Stored
          description: Whether the backend persisted the private key.
      type: object
      required:
        - user_id
        - email
        - wallet_address
        - private_key
        - private_key_stored
      title: EmailRegistered
    ErrorResponse:
      properties:
        detail:
          type: string
          title: Detail
          examples:
            - 无效或缺少用户 Token
      type: object
      required:
        - detail
      title: ErrorResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HealthResponse:
      properties:
        status:
          type: string
          const: ok
          title: Status
          default: ok
      type: object
      title: HealthResponse
    PlaybackAudioDescriptor:
      properties:
        url:
          type: string
          title: Url
        index_url:
          type: string
          title: Index Url
        format:
          type: string
          const: mp3
          title: Format
        bitrate:
          type: integer
          const: 128000
          title: Bitrate
        sample_rate:
          type: integer
          const: 44100
          title: Sample Rate
        channels:
          type: integer
          enum:
            - 1
            - 2
          title: Channels
        byte_length:
          type: integer
          minimum: 1.0
          title: Byte Length
        sha256:
          type: string
          pattern: ^[0-9a-f]{64}$
          title: Sha256
        etag:
          type: string
          title: Etag
        index_version:
          type: integer
          const: 1
          title: Index Version
        index_byte_length:
          type: integer
          minimum: 16.0
          title: Index Byte Length
        index_sha256:
          type: string
          pattern: ^[0-9a-f]{64}$
          title: Index Sha256
        index_etag:
          type: string
          title: Index Etag
      type: object
      required:
        - url
        - index_url
        - format
        - bitrate
        - sample_rate
        - channels
        - byte_length
        - sha256
        - etag
        - index_version
        - index_byte_length
        - index_sha256
        - index_etag
      title: PlaybackAudioDescriptor
    PlaybackDescriptor:
      properties:
        profile:
          type: string
          const: t5ai-h264-mp3-v1
          title: Profile
        video:
          $ref: '#/components/schemas/PlaybackVideoDescriptor'
        audio:
          $ref: '#/components/schemas/PlaybackAudioDescriptor'
      type: object
      required:
        - profile
        - video
        - audio
      title: PlaybackDescriptor
    PlaybackVideoDescriptor:
      properties:
        url:
          type: string
          title: Url
        format:
          type: string
          const: mp4
          title: Format
        codec:
          type: string
          const: h264
          title: Codec
        profile:
          type: string
          const: Constrained Baseline
          title: Profile
        pixel_format:
          type: string
          const: yuv420p
          title: Pixel Format
        width:
          type: integer
          const: 480
          title: Width
        height:
          type: integer
          const: 320
          title: Height
        fps:
          type: integer
          const: 10
          title: Fps
        duration_ms:
          type: integer
          maximum: 30100.0
          minimum: 1.0
          title: Duration Ms
        max_keyframe_interval_ms:
          type: integer
          maximum: 1000.0
          title: Max Keyframe Interval Ms
        byte_length:
          type: integer
          minimum: 1.0
          title: Byte Length
        sha256:
          type: string
          pattern: ^[0-9a-f]{64}$
          title: Sha256
        etag:
          type: string
          title: Etag
      type: object
      required:
        - url
        - format
        - codec
        - profile
        - pixel_format
        - width
        - height
        - fps
        - duration_ms
        - max_keyframe_interval_ms
        - byte_length
        - sha256
        - etag
      title: PlaybackVideoDescriptor
    ReadinessResponse:
      properties:
        status:
          type: string
          const: ready
          title: Status
          default: ready
        worker:
          type: string
          enum:
            - running
            - disabled
          title: Worker
      type: object
      required:
        - worker
      title: ReadinessResponse
    TriggerPresentation:
      properties:
        display_label:
          type: string
          title: Display Label
        autoplay:
          type: boolean
          title: Autoplay
        end_behavior:
          type: string
          const: HOLD_LAST_FRAME
          title: End Behavior
        controls:
          items:
            type: string
            enum:
              - PLAY
              - PAUSE
              - SEEK
              - STOP
              - REPLAY
          type: array
          title: Controls
      type: object
      required:
        - display_label
        - autoplay
        - end_behavior
        - controls
      title: TriggerPresentation
    UserProfile:
      properties:
        user_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: User Id
        wallet_address:
          anyOf:
            - type: string
            - type: 'null'
          title: Wallet Address
        email:
          anyOf:
            - type: string
            - type: 'null'
          title: Email
      type: object
      required:
        - user_id
      title: UserProfile
    UserTokenIssued:
      properties:
        user_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: User Id
        token:
          type: string
          title: Token
          description: Opaque User Token. Returned once and not stored in plaintext.
        token_type:
          type: string
          const: Bearer
          title: Token Type
          default: Bearer
      type: object
      required:
        - user_id
        - token
      title: UserTokenIssued
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    WalletChallengeRequest:
      properties:
        address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
          title: Address
          description: Injective EVM wallet address (0x + 40 hex).
          examples:
            - '0x1234567890abcdef1234567890abcdef12345678'
      type: object
      required:
        - address
      title: WalletChallengeRequest
    WalletChallengeResponse:
      properties:
        address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
          title: Address
        message:
          type: string
          title: Message
          description: Exact text the wallet must sign via personal_sign.
        expires_at:
          type: string
          title: Expires At
      type: object
      required:
        - address
        - message
        - expires_at
      title: WalletChallengeResponse
    WalletTokenIssued:
      properties:
        user_id:
          type: string
          pattern: ^[0-9a-f]{32}$
          title: User Id
        wallet_address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
          title: Wallet Address
        token:
          type: string
          title: Token
          description: Opaque User Token. Returned once and not stored in plaintext.
        token_type:
          type: string
          const: Bearer
          title: Token Type
          default: Bearer
      type: object
      required:
        - user_id
        - wallet_address
        - token
      title: WalletTokenIssued
    WalletVerifyRequest:
      properties:
        address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
          title: Address
        signature:
          type: string
          pattern: ^0x[0-9a-fA-F]+$
          title: Signature
          description: EIP-191 personal_sign signature over the challenge message.
      type: object
      required:
        - address
        - signature
      title: WalletVerifyRequest
  securitySchemes:
    TriggerToken:
      type: http
      description: Fixed Bearer Token provisioned to the Trigger board.
      scheme: bearer
      x-advx-role: trigger
      x-provisioning: Fixed Token provisioned to trigger-01.
    PlaybackToken:
      type: http
      description: Fixed Bearer Token provisioned to the Playback board.
      scheme: bearer
      x-advx-role: playback
      x-provisioning: Fixed Token provisioned to playback-01.
    UserToken:
      type: http
      description: Long-lived opaque Bearer Token returned once by the issuance endpoint.
      scheme: bearer
      x-advx-role: user
      x-provisioning: Issued by POST /api/v1/sessions after email/password login.
tags:
  - name: operations
    description: Health and deployment readiness.
  - name: users
    description: Register, log in (email/password or wallet), and issue User Tokens.
  - name: contents
    description: Upload and manage user-owned sounds.
  - name: devices
    description: Trigger resolution and Playback assets.
externalDocs:
  description: Interactive Swagger UI
  url: http://8.129.229.10:9000/docs
